<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/VentasAdmin</property>
    <property name="hibernate.connection.username">gvazquez</property>
    <property name="hibernate.connection.password">Barcelona01</property>    
    <property name="hibernate.hbm2ddl.auto">create</property>
    <!--validate update create create-drop-->    
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    
    
    <!--Mapear la Clase -->
    <mapping class="com.desoftmex.entity.Cliente"/>
    <mapping class="com.desoftmex.entity.Usuario"/>
    <mapping class="com.desoftmex.entity.Rol"/>
    <mapping class="com.desoftmex.entity.Pantalla"/>
  </session-factory>
</hibernate-configuration>
